@import '../../../scss/primary-colors';

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.check-mark {
  position: absolute;
  top: 18px;
  left: 15px;
  height: 20px;
  width: 20px;
  background: $primary-white;
  border: 1px solid $primary-medium-gray-4;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .check-mark {
  background-color: $primary-light-gray-1;
}

/* On mouse-over, add a grey background color */
.container input[disabled] ~ .check-mark {
  background-color: $primary-medium-gray-3;
  cursor: not-allowed;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .check-mark {
  background-color: $primary-strong-blue;
}

/* Create the check-mark/indicator (hidden when not checked) */
.check-mark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the check-mark when checked */
.container input:checked ~ .check-mark:after {
  display: block;
}

/* Style the check-mark/indicator */
.container .check-mark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
